.dashboard {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
}
.sidebar {
  box-shadow: 0 0 1px 0px rgb(180, 180, 180);
  border: 1px solid transparent;
  box-shadow: 0 0 10px 0px rgb(180, 180, 180);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.logo {
  font-size: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar-items {
  margin-top: 50px;
  padding-inline: 20px;
}
.btn-params:hover {
  color: blue;
}

.btn-logout:hover {
  color: red;
}
.sidebar-items-end {
  padding-inline: 10px;
}
